{% extends "cities.html" %}
{% block content1 %}
<h1>HONG-KONG</h1>

<video controls>
    <source src="static/videos/hongkong.mp4" type="video/mp4">
</video>

<p>Специальный административный район Китайской Народной Республики, один из ведущих глобальных городов и финансовых
    центров мира, занимает первое место по ожидаемой продолжительности жизни и также первое место среди городов мира по
    количеству самых высоких небоскрёбов. Действующая как Особая Экономическая зона.</p>

<p>Гонкoнг, полное название - Специальный административный район Гонконг - специальный административный район Китайской
    Народной Республики, один из ведущих глобальных городов и финансовых центров мира, занимает первое место по
    ожидаемой продолжительности жизни и также первое место среди городов мира по количеству самых высоких небоскрёбов.
    Действующий как Особая Экономическая зона. Гонконг расположен на Цзюлунском полуострове, с запада, юга и востока
    омываемом Южно-Китайским морем, а также на более чем 260 островах, наиболее крупными среди которых являются Гонконг
    (местоположение органов верховной власти и финансового центра территории), Лантау и Ламма. На севере Гонконг
    граничит с особой экономической зоной Шэньчжэнь в составе китайской провинции Гуандун. Гонконг принято делить на три
    части: собственно остров Гонконг, Цзюлун и Новые Территории. Гонконг входит в регион дельты реки Чжуцзян,
    располагаясь на левом берегу её устья. В 1842 году Гонконг был захвачен Великобританией и стал её колонией согласно
    Нанкинскому договору. Однако большая по площади (не по населению) часть Гонконга, так называемые Новые Территории,
    была арендована в 1898 году на 99 лет и на этот срок являлась частью британской колонии. И хотя Китай как
    независимое государство появился только в 1911 году, а договор заключался с маньчжурской Империей Цин,
    Великобритания признавала этот договор аренды и никогда не отказывалась от обязательства передать Китаю Новые
    Территории к 1997 году. В 1997 году Китайская Народная Республика обрела суверенитет над территорией. Согласно
    совместной китайско-британской декларации и Основному закону Гонконга, территории предоставлена широкая автономия до
    2047 года, то есть в течение 50 лет после передачи суверенитета. В рамках курса «Одна страна, две системы» и
    «Гонконгом управляют сами гонконгцы в условиях высокой степени автономии», в течение этого периода Центральное
    народное правительство КНР берёт на себя вопросы обороны и внешней политики территории, в то время как Гонконг
    оставляет за собой контроль над законодательством, полицией, денежной системой, пошлинами и иммиграционной
    политикой, а также сохраняет представительство в некоторых международных организациях и мероприятиях под названием
    «Гонконг, Китай». Попытки изменения статуса-кво 1997 года встречают некоторое сопротивление, что находит своё
    отражение в протестах и демонстрациях; последняя крупная серия демонстраций началась 31 марта 2019 года на фоне
    принятия закона об экстрадиции. В результате 30 июня 2020 года главный законодательный орган Китая единогласно
    принял закон о защите национальной безопасности в Гонконге.</p>

<section class="gallery">
    <div class="gallery-list">
        <a href="https://images.unsplash.com/photo-1536599018102-9f803c140fc1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80"
           class="gallery-item">
            <img src="https://images.unsplash.com/photo-1536599018102-9f803c140fc1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1228&q=80">
        </a>

        <a href="https://images.unsplash.com/photo-1576788369575-4ab045b9287e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=744&q=80"
           class="gallery-item">
            <img src="https://images.unsplash.com/photo-1576788369575-4ab045b9287e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=744&q=80">
        </a>

        <a href="https://images.unsplash.com/photo-1616394158624-a2ba9cfe2994?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
           class="gallery-item">
            <img src="https://images.unsplash.com/photo-1616394158624-a2ba9cfe2994?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
        </a>

        <a href="https://images.unsplash.com/photo-1515185500307-65d052ffba10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
           class="gallery-item">
            <img src="https://images.unsplash.com/photo-1515185500307-65d052ffba10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
        </a>

        <a href="https://images.unsplash.com/photo-1619187269972-267d2b78a423?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
           class="gallery-item">
            <img src="https://images.unsplash.com/photo-1619187269972-267d2b78a423?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80">
        </a>

        <a href="https://images.unsplash.com/photo-1577871598838-a543ee47cd79?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1166&q=80"
           class="gallery-item">
            <img src="https://images.unsplash.com/photo-1577871598838-a543ee47cd79?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1166&q=80">
        </a>

        <a href="https://plus.unsplash.com/premium_photo-1661902124877-f946ba1d3c1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
           class="gallery-item">
            <img src="https://plus.unsplash.com/premium_photo-1661902124877-f946ba1d3c1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80">
        </a>

        <a href="https://images.unsplash.com/photo-1620015092538-e33c665fc181?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
           class="gallery-item">
            <img src="https://images.unsplash.com/photo-1620015092538-e33c665fc181?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80">
        </a>
    </div>
</section>
{% endblock %}