{% extends "cities.html" %}
{% block content1 %}
<h1>PEKING</h1>
<video controls>
    <source src="static/videos/peking.mp4" type="video/mp4">
</video>
<p>Шумный и густонаселенный, многоликий и очень интересный, современный и атмосферный — Пекин не случайно называют одним
    из самых легендарных городов планеты. Причудливый и немного странный – это тоже о нем, но от таких оригинальных
    характеристик интерес туристов к Пекину лишь возрастает. Жизнь на улицах китайской столицы не останавливается ни на
    секунду, ведь это один из крупнейших мегаполисов не только в стране, но и во всем мире. Сюда стоит приехать ради
    древних храмов и парков, ради недорогого шопинга, ради вкусной еды и разнообразных развлечений, ради ярких эмоций,
    которые можно получить только здесь.</p>
<section class="gallery">
    <div class="gallery-list">
        <a href="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_1/public/text_gallery/Beijing-3.jpg?h=147853d6"
           class="gallery-item"><img
                src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_1/public/text_gallery/Beijing-3.jpg?h=147853d6">
        </a>
        <a href="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_2/public/text_gallery/Beijing-4.jpg?h=b010b38d"
           class="gallery-item"><img
                src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_2/public/text_gallery/Beijing-4.jpg?h=b010b38d">
        </a>
        <a href="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_3/public/text_gallery/Beijing-5.jpg?h=f6990b52"
           class="gallery-item"><img
                src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_3/public/text_gallery/Beijing-5.jpg?h=f6990b52">
        </a>
    </div>
</section>
{% endblock %}