{% extends "cities.html" %}
{% block content1 %}
<h1>TOKYO</h1>
<video controls>
    <source src="static/videos/tokyo.mp4" type="video/mp4">
</video>
<p>Токио — один из крупнейших городов в мире, современный мегаполис, настоящий «муравейник», где жизнь не
    останавливается даже ночью. Это один из самых удивительных городов на планете, ведь только здесь бетонные «джунгли»
    граничат с древними храмами, новинки хай-тека поражают воображение, а запутаться в линиях метро могут даже местные
    жители! Еще одна особенность мегаполиса – сложная планировка улиц и районов. Здесь легко заблудиться, поэтому нужно
    тщательно планировать маршрут, но быть готовым в любую минуту свернуть «не туда». Токио – город с характером, и
    только от вас зависит, сможете ли вы с ним подружиться.</p>
<section class="gallery">
    <div class="gallery-list">
        <a href="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_1/public/text_gallery/Tokyo-3.jpg?h=95bde047"
           class="gallery-item"><img
                src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_1/public/text_gallery/Tokyo-3.jpg?h=95bde047">
        </a>
        <a href="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_2/public/text_gallery/Tokyo-4.jpg?h=2aa4e019"
           class="gallery-item"><img
                src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_2/public/text_gallery/Tokyo-4.jpg?h=2aa4e019">
        </a>
        <a href="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_3/public/text_gallery/Tokyo-5.jpg?h=5d15e229"
           class="gallery-item"><img
                src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_3/public/text_gallery/Tokyo-5.jpg?h=5d15e229">
        </a>
        <a href="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__hero_banner__hb_image__1880bp/public/hero_banner/national-tokyo-museum_optimized.jpg"
           class="gallery-item"><img
                src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__hero_banner__hb_image__1880bp/public/hero_banner/national-tokyo-museum_optimized.jpg">
        </a>
    </div>
</section>
{% endblock %}
