{% extends "cities.html" %}
{% block content1 %}
<h1>OSLO</h1>
<video controls>
    <source src="/static/videos/oslo.mp4" type="video/mp4">
</video>
<p>Осло - столица и крупнейший город Норвегии, расположенный в её юго-восточной части в акватории Балтийского моря на
    берегу залива Осло-фьорд. Это одна из самых современных и экологически чистых столиц Европы с обилием интересной (в
    основном современной) архитектуры, музеев, ресторанов и магазинов. Являясь третьим по величине городом Скандинавии,
    Осло на удивление компактный, удобный и спокойный город, где современные ландшафты соседствуют с потрясающим
    природными красотами фьордов и лесистых холмов.</p>
<section class="gallery">
    <div class="gallery-list">
        <a href="https://tripmydream.cc/travelhub/travel/blocks/15/2983/block_152983.jpg?v1"
           class="gallery-item"><img src="https://tripmydream.cc/travelhub/travel/blocks/15/2983/block_152983.jpg?v1">
        </a>
        <a href="https://ethnomir.ru/upload/medialibrary/58d/oslo.jpg"
           class="gallery-item"><img src="https://ethnomir.ru/upload/medialibrary/58d/oslo.jpg">
        </a>
        <a href="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__hero_banner__hb_image__1880bp/public/hero_banner/Oslo-Fjord.jpg"
           class="gallery-item"><img
                src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__hero_banner__hb_image__1880bp/public/hero_banner/Oslo-Fjord.jpg">
        </a>
        <a href="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/d3/b6/f3/grand-hotel-exterior.jpg?w=600&h=400&s=1"
           class="gallery-item"><img
                src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1c/d3/b6/f3/grand-hotel-exterior.jpg?w=600&h=400&s=1">
        </a>
    </div>
</section>
{% endblock %}
