{% extends "cities.html" %}
{% block content1 %}
<h1>SINGAPORE</h1>
<video controls>
    <source src="/static/videos/singapore.mp4" type="video/mp4">
</video>
<p>Сингапур – это процветающее государство в юго-восточной Азии. Здесь причудливым образом переплетаются сверкающие
    небоскребы и красочные этнические кварталы с мусульманскими мечетями, буддийскими храмами и христианскими
    церквями.</p>
<section class="gallery">
    <div class="gallery-list">
        <a href="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_3/public/text_gallery/Singapore-3.jpg?h=7c58768d"
           class="gallery-item"><img
                src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_3/public/text_gallery/Singapore-3.jpg?h=7c58768d">
        </a>
        <a href="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_2/public/text_gallery/Singapore-5.jpg?h=c37a44c6"
           class="gallery-item"><img
                src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__text_gallery__tg_image_2/public/text_gallery/Singapore-5.jpg?h=c37a44c6">
        </a>
        <a href="https://www.atorus.ru/sites/default/files/upload/image/News/56963/%D1%84%D0%BE%D1%82%D0%BE%203.jpg"
           class="gallery-item"><img
                src="https://www.atorus.ru/sites/default/files/upload/image/News/56963/%D1%84%D0%BE%D1%82%D0%BE%203.jpg">
        </a>
        <a href="https://static.r-express.ru/images/AdobeStock_245480959.jpeg"
           class="gallery-item"><img src="https://static.r-express.ru/images/AdobeStock_245480959.jpeg">
        </a>
    </div>
</section>
{% endblock %}
